@font-face {
	font-family: "Montserrat";
	src: url('police/Montserrat Thin Italic 250.ttf');
}
*{
    font-family: Montserrat;
	color : white;
}
article p{
	
	text-align : justify;
	font-size:20px;
	background-color: #272822;
	border-radius: 10px;
	padding: 22px;
	opacity: 0.9;
}
h2{
	font-size: 60px;
}

body{
	background : url("images/background.jpg");
	background-attachment : fixed;
}
footer{
	padding	: 10px 25px;
	height:400px;
	width:auto;
	background-color: #13306c;
	opacity: 0.97;
}
aside{
	height: 600px;
	width: 300px;
	background-color: #13306c;
	margin: 200px 0px 0px 20px;
	font-size: 30px;
	border-radius: 10px;
	padding: 20px;
	opacity: 0.9;
	align-items: center;
}
li{
	margin: 10px;
}
.sommaire{
	min-width: 200px;
}
article{
	max-width:648px;
	font-size: 25px;
}

section{
	max-width:968px;
	margin:auto;
	padding: 25px;
	display: flex;
	align-content: center;
}

#baniere{
	min-height: 250px;
	max-height: 350px;
	overflow: hidden;
}

@media screen and (max-width: 900px){
    aside{
        display: none;
    }
}